#Ignore folders with models
stDiff_Spared/Experiments/
stDiff_Spared/wandb/
stDiff_Spared/results_visualizations/
stDiff_Spared/Predictions/
stDiff_Spared/__pycache__/
stDiff_Spared/model_stDiff/
SPaDiT/
stDiff_Spared/wandb/
stDiff_Spared/Experiments/
stDiff_Spared/results_visualizations/
stDiff_Spared/UNI/
stDiff_Spared/datasets
stDiff_Spared_v2/Pretrained_Encoders_Autoencoders/Gene_autoencoders
stDiff_Spared_v2/Pretrained_Encoders_Autoencoders/Image_encoders
stDiff_Spared_v2/wandb
stDiff_Spared_v2/Image_features

